.App {
  text-align: center;
}

.App-header {
  margin: 0 auto;
  background-color: wheat;
  height: 50px;
  width: 300px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}

.Responsive-div {
  margin: 0 auto;
  width: 80vw;
  height: 60vw;
  background-color: rgb(114, 244, 244);
}

.elem {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
